[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "Halide"]
	path = Halide
	url = https://github.com/halide/Halide.git
	shallow = true
